/* header menu bar */
.web-name{
    display: flex;
    text-align: center;
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
}

.web-menubar img{
    height: 40px;
    width: 86px;
}


.web-menubar{
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.web-menu{
    
}




/* header-container */


.header-container{
    display: flex;
}

.header-container img{

}


.header-text{
    justify-content: center;
}



/* header-ending */

.header-ending{
    display: flex;    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); 

}



/* online-class-secton */



.online-class-image{
    
}





/* online-game-container2 */


.online-game-container2{
    display: flex;
}



/* online-game-container3 */

.online-game-container3{
    display: flex;
}